name: Test

on: [ push ]
permissions:
  contents: read

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python:
          - "3.14"
          - "3.13"
          - "3.12"
          - "3.11"
          - "3.10"

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python ${{ matrix.python }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - name: Install tox
        run: python -m pip install tox-gh>=1.2

      - name: Setup test suite
        run: tox -vv --notest

      - name: Run test suite
        run: tox --skip-pkg-install
